<header class="header_area">
    <div class="header-item header-item--logo">







        <br> <br>



        <a href="/" itemprop="url" class="site-header__logo-link">
            <img class="small--hide" src="../assets/images/logo.png" alt="iotty Smart Home" itemprop="logo">

        </a>



        </h3>







    </div>
    <div class="text-center">



        <ul class="site-nav site-navigation medium-down--hide" role="navigation" aria-label="Primary">



            <li class="site-nav__item site-nav__expanded-item">

                <a href="index.html" class="site-nav__link">
                    <h3>HOME</h3>

                </a>

            </li>



            <li class="site-nav__item site-nav__expanded-item">

                <a href="/products.html" class="site-nav__link">
                    <h3>PRODUCTS</h3>

                </a>

            </li>



         

            <li class="site-nav__item site-nav__expanded-item">

                <a href="/about.html" class="site-nav__link">
                    <h3>ABOUT US</h3>

                </a>

            </li>



            <li class="site-nav__item site-nav__expanded-item">

                <a href="/contacts.html" class="site-nav__link">
                    <h3>CONTACT US</h3>

                </a>

            </li>

        </ul>

    </div>