<div class="container text-center">    
    <br>
    <div class="row">
      <div class="col-sm-4">
     
        <i class="fa fa-truck fa-2x"></i>
        <h4>FREE SHIPPING</h4>
      </div>
      <div class="col-sm-4">
        
        
        <i class="fa fa-inr fa-2x"></i>
        <h4>30-DAY MONEY BACK</h4> 
        
      </div>
      <div class="col-sm-4"> 
      
        <i class="fa fa-lock fa-2x"></i> 
        <h4>2 YEAR WARRANTY</h4>   
      </div>
        
      </div>
    </div>
  </div><br>