<section class="installation_area section_padding section_dark_bg abcd">
    <!-- <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape"> -->
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 pr_0">
                <div class="installation_left">
                    <div class="background-media-text__text">
                      
                        
                    <!--end .hero_section_title-->
                    <p>Our smart home professionals will help customize and professionally install your package without charging you any fee, because installation is totally free from company side.</p>
                    <a href="tel:+919310161699" class=" xyz">
        <i class="fa fa-phone">&nbsp;</i><strong>Call Now</strong></a
        >
                    
                </div>
                <!--end .installation_left-->
            </div><!--end .col-md-6-->
        </div><!--end .row-->
    </div>
</section><!--end .installation_area-->