<section class="testimonial_area section_padding text-center section_bg">
    <!-- <img src="assets/images/testimonial-shape.png" class="triangle_shape testimonial_shape_1" alt="Shape">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape_2 testimonial_shape_2" alt="Shape"> -->
    <div class="container">
        <h4 class="title_shape">Testimonials</h4>
        <div class="row">
           <div class="col-md-12">
               <div class="testimonial_slider_section owl-carousel testimonial_sliders">
                   <div class="testimonial_slider_box">
                       <p>Satisfactory working, products are good. Mr Afzal has executed effectively.

                        Does complete work. From design to maintain lumen in room. Making symmetrical design for calling light. Important aspect for design of home automation.</p>
                       <h3>Shehzad Khan</h3>
                       <span class="skills">[ creative director (sony tv) ]</span>
                       <span class="slide_number">01 / 03</span>
                   </div><!--end .testimonial_slider_box-->
                   <div class="testimonial_slider_box">
                       <p>Afzal is Dedicated n technically very sound, done my electrical design n consultancy. Effective execution of home automation products .still Running without problem.</p>
                       <h3>Ramon Arora</h3>
                       <span class="skills">[ interior designer ]</span>
                       <span class="slide_number">02 / 03</span>
                   </div><!--end .testimonial_slider_box-->
                   <div class="testimonial_slider_box">
                       <p>Professional guy, managed my site well, done all my work.

                        Curtain track was late installed.
                        
                        Over all experiences was good.</p>
                       <h3>Amit aggarwal</h3>
                       <span class="skills">[ Gtech CEO ]</span>
                       <span class="slide_number">03 / 03</span>
                   </div><!--end .testimonial_slider_box-->
                   
               </div><!--end .testimonial_slider_section-->
           </div><!--end .col-md-12-->
        </div><!--end .row-->
    </div><!--end .container-->
</section><!--end .testimonial_area-->